<!-- Modal Delete Confirmation -->
<div id="modal-delete-{{ job.id|replace('.', '') }}" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ job.display_name }}</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Delete Job and Job Runs? <br />
        {{ job.id }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" onclick="deleteResource('{{ job.id }}')"
          data-bs-dismiss="modal">Delete Job and Runs</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>