<div id="modal-details-{{ run.id|replace('.', '') }}" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Job Run - {{ run.name}}</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <pre style="overflow-x: scroll;"><code class="language-yaml">{{ run|safe }}</code></pre>
        <hr>
        <div class="accordion" id="accordionJobYaml">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingJobYaml">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseJobYaml" aria-expanded="false" aria-controls="collapseJobYaml">
                Job YAML - {{ job.name }}
              </button>
            </h2>
            <div id="collapseJobYaml" class="accordion-collapse collapse" aria-labelledby="headingJobYaml" data-bs-parent="#accordionJobYaml">
              <div class="accordion-body">
                <pre style="overflow-x: scroll;"><code class="language-yaml">{{ job|safe }}</code></pre>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
