<div id="modal-delete-{{ run.id|replace('.', '') }}" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ run.name}}</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Delete Job Run? <br />
        {{ run.id }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" onclick="deleteResource('{{ run.id }}')"
          data-bs-dismiss="modal">Delete Job Run</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
