################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/ai_services/language/dotnet/LanguageBasicDemo/bin/Debug/net5.0
/ai_services/language/dotnet/LanguageBasicDemo/obj
ai_services/language/dotnet/.vs/Language/DesignTimeBuild/.dtbcache.v2
ai_services/language/dotnet/.vs/Language/project-colors.json
ai_services/language/dotnet/.vs/Language/v17/.futdcache.v1
jobs/ts+js/node_modules
package-lock.json
jobs/java/.idea
jobs/java/.settings
jobs/java/target
.project
*.class
jobs/flask_job_monitor/__pycache__
.vscode/
.idea/
/notebook_examples/__*.ipynb
/notebook_examples/Untitled*.ipynb
.DS_Store
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.log
.ipynb_checkpoints

jobs/ts+js/downloaded_artifact.py
jobs/Fn/.oci/
node_modules
jobs/tutorials/standbyjob/code/
jobs/tutorials/standbyjob-with-git/code/
model-deployment/containers/llama2/token.zip
model-deployment/containers/llama2/version.txt
model-deployment/containers/llama2/.cache
model-deployment/containers/llama2/token
model-deployment/containers/llama2/hfdata
.spelling/
.demo