################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/ai_services/language/dotnet/LanguageBasicDemo/bin/Debug/net5.0
/ai_services/language/dotnet/LanguageBasicDemo/obj
