<!DOCTYPE html>
<html lang="en">

<head>
  <title>ADS Jobs Monitor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body style="padding: 30px;">
  <div class="container-fluid">
    <h1>Jobs Monitor</h1>
    <p>Select compartment and project to show the most recent <span id="job-number-limit">{{ limit }}</span> jobs.</p>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="compartments">Compartment</label>
          <select class="form-control" name="compartments" id="compartments">
            {% if not compartment_id %}
            <option value="" selected="selected">Select Compartment</option>
            {% endif %}
            {% for compartment in compartments %}
            {% if compartment_id == compartment.id %}
            <option value="{{ compartment.id }}" selected="selected">{{ compartment.name }}</option>
            {% else %}
            <option value="{{ compartment.id }}">{{ compartment.name }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-none" id="project_ocid">{{ project_id }}</div>
        <div class="form-group">
          <label for="projects">Project</label>
          <select class="form-control" name="projects" id="projects">
          </select>
        </div>
      </div>
    </div>

    <hr />
    <div class="accordion" id="dashboard-jobs">

    </div>

</body>
<script>
  $(document).ready(function() {
    var compartment_ocid = $("#compartments").val();
    var project_ocid = $("#project_ocid").text();
    console.log("COMPARTMENT ID: " + compartment_ocid);
    console.log("PROJECT ID: " + project_ocid);

    // Load the list of project in the compartment.
    $("#compartments").change(function() {
      var ocid = $("#compartments").val();
      $.getJSON("/projects/" + ocid, function(data) {
        var project_selector = $("#projects");
        project_selector.empty();
        if (!project_ocid) {
          project_selector.append('<option value="" selected="selected">Select Project</option>');
        }
        data.projects.forEach(element => {
          if (element.ocid === project_ocid) {
            project_selector.append('<option value="' + element.ocid + '" selected>' + element.display_name + '</option>');
          } else {
            project_selector.append('<option value="' + element.ocid + '">' + element.display_name + '</option>');
          }
        });
      })
    })
    // Trigger the compartment change callback to load the list of projects.
    $("#compartments").change();

    // Load jobs
    loadJobs(compartment_ocid, project_ocid);

    // Refresh the page to see jobs when project is changed.
    $("#projects").change(function() {
      var project_ocid = $("#projects").val();
      var compartment_ocid = $("#compartments").val();
      window.location.href = "/" + compartment_ocid + "/" + project_ocid;
    })

    
  })

  function updateLogs(ocid, outputDiv) {
    console.log("Getting logs for " + ocid);
    // Get the most recent logs of each job
    $.getJSON("/logs/" + ocid, function(data) {
      // console.log($("#" + ocid));
      outputDiv.html(data.logs.join("<br />"));
      // Scroll to the bottom
      outputDiv.scrollTop(outputDiv[0].scrollHeight);
      parent = outputDiv.closest(".card");
      statusText = parent.find(".run-status");
      statusText.text(data.status);
      statusDetailsText = parent.find(".run-status-details");
      if (data.statusDetails !== null) {
        statusDetailsText.text(data.status + " - " + data.statusDetails);
      } else {
        statusDetailsText.text(data.status);
      }

      if (data.stopped !== true) {
        // Job is running
        setTimeout(function() {
          updateLogs(ocid, outputDiv)
        }, 20000);
        setCardStyle(parent, "border-primary");
        statusText.addClass("text-primary");
        parent.find(".card-header").addClass("bg-primary bg-opacity-10");
      } else {
        // Job terminated
        if (data.status === "SUCCEEDED") {
          setCardStyle(parent, "border-success");
          statusText.addClass("text-success");
          parent.find(".card-header").addClass("bg-success bg-opacity-10");
        } else if (data.status === "FAILED") {
          setCardStyle(parent, "border-danger");
          statusText.addClass("text-danger");
          parent.find(".card-header").addClass("bg-danger bg-opacity-10");
        }
      }
    })
  }

  function setCardStyle(card, newClass) {
    card.removeClass("border-primary");
    card.addClass(newClass);
  }

  function deleteJob(ocid) {
    $.getJSON("/delete/" + ocid, function(data) {
      console.log("Deleting " + ocid);
      if (data.error === null) {
        $("." + ocid.replace(/\./g, "")).remove();
      } else {
        alert(data.error);
      }

    });
  }

  function loadJobs(compartment_ocid, project_ocid) {
    var limit = $("#job-number-limit").text();
    var existing_jobs = $("#dashboard-jobs .accordion-item .job-ocid").map(function() {
      return $(this).text();
    }).get();
    $.getJSON("/jobs/" + compartment_ocid + "/" + project_ocid + "?limit=" + limit, function(data){
      data.jobs.reverse().forEach(job => {
        if (existing_jobs.indexOf(job.ocid) < 0) {
          console.log("Loading new job: " + job.ocid);
          $("#dashboard-jobs").prepend(job.html);
          loadJobRuns(job.ocid);
        }
      });
    });
  }

  function loadJobRuns(job_ocid) {
    var jobSelector = "#" + job_ocid.replaceAll(".", "") + "-body";
    var jobRow = $(jobSelector).find(".row").append("");
    console.log("Loading job runs for job OCID: " + job_ocid);
    $.getJSON("/job_runs/" + job_ocid, function(data) {
      data.runs.forEach(run => {
        jobRow.append(run.html);
        // Load logs.
        var jobRunSelector = "#" + run.ocid.replaceAll(".", "")
        $(jobRunSelector + " .run-monitor").each(function() {
          var ocid = this.id;
          var outputDiv = $(this).find(".card-body");
          updateLogs(ocid, outputDiv);
        });
      });
    });
  }
</script>

</html>
