<!DOCTYPE html>
<html>

<head>
  <title>ADS Jobs Monitor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

</head>

<body style="padding: 30px;">
  <div class="container-fluid">
    <h1>Jobs Monitor</h1>
    <p>Select compartment and project to show the most recent 20 jobs.</p>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="compartments">Compartment</label>
          <select class="form-control" name="compartments" id="compartments">
            {% if not compartment_id %}
            <option value="" selected="selected">Select Compartment</option>
            {% endif %}
            {% for compartment in compartments %}
            {% if compartment_id == compartment.id %}
            <option value="{{ compartment.id }}" selected="selected">{{ compartment.name }}</option>
            {% else %}
            <option value="{{ compartment.id }}">{{ compartment.name }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="projects">Project</label>
          <select class="form-control" name="projects" id="projects">
            {% if compartment_id and not project_id %}
            <option value="" selected="selected">Select Project</option>
            {% endif %}
            {% for project in projects %}
            {% if project_id == project.id %}
            <option value="{{ project.id }}" selected="selected">{{ project.display_name }}</option>
            {% else %}
            <option value="{{ project.id }}">{{ project.display_name }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
    </div>

    <hr />

    <div class="row">
      {% for job in jobs %}
      {% for run in job.run_list() %}
      <div class="col-lg-4 {{ job.id|replace('.', '') }}">
        <div class="panel panel-default run-monitor" id="{{ run.id }}">

          <div class="panel-heading">
            <div>
              <div class="pull-right" style="font-size: larger">
                <a href="#" data-toggle="modal" data-target="#modal-details-{{ run.id|replace('.', '') }}">
                  <span class="glyphicon glyphicon-info-sign"></span>
                </a>
                <a class="text-danger" href="#" data-toggle="modal" data-target="#modal-delete-{{ run.id|replace('.', '') }}">
                  <span class="glyphicon glyphicon-remove"></span>
                </a>
              </div>
              <h4>
                <a style="color: inherit;" target="_blank" href="https://console.us-ashburn-1.oraclecloud.com/data-science/jobs/{{ job.id }}">
                  {{ job.name }}
                </a>
              </h4>
            </div>
            <div class="clearfix"></div>
            <div>
              <div class="pull-right">
                <p><strong class="run-status">{{ run.lifecycle_state}}</strong></p>
              </div>
              <h5>{{ run.name }}</h5>
            </div>
          </div>
          <!-- Modal -->
          <div id="modal-details-{{ run.id|replace('.', '') }}" class="modal fade" role="dialog">
            <div class="modal-dialog" style="width: 70%">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">{{ job.name}}</h4>
                </div>
                <div class="modal-body">
                  <pre style="overflow-x: scroll;">{{ job|safe }}</pre>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <div id="modal-delete-{{ run.id|replace('.', '') }}" class="modal fade" role="dialog">
            <div class="modal-dialog" style="width: 50%">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">{{ job.name}}</h4>
                </div>
                <div class="modal-body">
                  Delete Job / Job Run? <br />
                  {{ run.id }}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" onclick="deleteJob('{{ job.id }}')" data-dismiss="modal">Delete Job and Runs</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body" style="font-family: 'Courier New', Courier, monospace; height: 500px; overflow: scroll;">
            Loading...
          </div>
          <div class="panel-footer">
            {% if run.log_id %}
            <div><a target="_blank" href="https://console.us-ashburn-1.oraclecloud.com/logging/search?searchQuery=search%20%22{{ run.compartment_id }}%22%20%7C%20source%3D%27%2A{{ run.id }}%27%20%7C%20sort%20by%20datetime%20desc">View logs in OCI
                console</a></div>
            {% endif %}
            {{ run.id }} <br>
            <span class=".run-status-details">
              {{ run.lifecycle_state }}
              {% if run.lifecycle_details %}
              - {{ run.lifecycle_details }}
              {% endif %}
            </span>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endfor %}
    </div>
  </div>


</body>
<script>
  $(document).ready(function() {
    // Load logs.
    $(".run-monitor").each(function() {
      var ocid = this.id;
      var outputDiv = $(this).find(".panel-body");
      updateLogs(ocid, outputDiv);
    })
    // Refresh the page to see jobs when project is changed.
    $("#projects").change(function() {
      var project_ocid = $("#projects").val();
      var compartment_ocid = $("#compartments").val();
      window.location.href = "/" + compartment_ocid + "/" + project_ocid;
    })
    // Load the list of project in the compartment.
    $("#compartments").change(function() {
      var ocid = $("#compartments").val();
      $.getJSON("/projects/" + ocid, function(data) {
        var project_selector = $("#projects");
        project_selector.empty();
        project_selector.append('<option value="" selected="selected">Select Project</option>');
        data.projects.forEach(element => {
          if (element.ocid === "{{ project_id }}") {
            project_selector.append('<option value="' + element.ocid + '" selected>' + element.display_name + '</option>');
          } else {
            project_selector.append('<option value="' + element.ocid + '">' + element.display_name + '</option>');
          }
        });
      })
    })
    // Trigger the compartment change callback to load the list of projects.
    $("#compartments").change();
    
  })

  function updateLogs(ocid, outputDiv) {
    console.log("Getting logs for " + ocid);
    // Get the most recent logs of each job
    $.getJSON("/logs/" + ocid, function(data) {
      // console.log($("#" + ocid));
      outputDiv.html(data.logs.join("<br />"));
      // Scroll to the bottom
      outputDiv.scrollTop(outputDiv[0].scrollHeight);
      parent = outputDiv.closest(".panel");
      statusText = parent.find(".run-status");
      statusText.text(data.status);
      statusDetailsText = parent.find(".run-status-details");
      if (data.statusDetails !== null) {
        statusDetailsText.text(data.status + " - " + data.statusDetails);
      } else {
        statusDetailsText.text(data.status);
      }

      if (data.stopped !== true) {
        // Job is running
        setTimeout(function() {
          updateLogs(ocid, outputDiv)
        }, 20000);
        setPanelClass(parent, "panel-primary");
      } else {
        // Job terminated
        if (data.status === "SUCCEEDED") {
          setPanelClass(parent, "panel-success");
          statusText.addClass("text-success");
        } else if (data.status === "FAILED") {
          setPanelClass(parent, "panel-danger");
          statusText.addClass("text-danger");
        }
      }
    })
  }

  function setPanelClass(panel, newClass) {
    panel.removeClass("panel-default");
    panel.removeClass("panel-primary");
    panel.addClass(newClass);
  }

  function deleteJob(ocid) {
    $.getJSON("/delete/" + ocid, function(data) {
      console.log("Deleting " + ocid);
      if (data.error === null) {
        $("." + ocid.replace(/\./g, "")).remove();
      } else {
        alert(data.error);
      }

    });
  }
</script>

</html>
